* {
  font-family: 'Architects Daughter', cursive;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  width: 500px;
  margin: 20px 0;
  align-items: center;
  justify-items: center;
}

h1 {
  grid-area: 1 / 2 / 2 / 3;
}

/* Settings & sliders */
.settings {
  grid-area: 1 / 3 / 2 / 4;
  
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(200, 200, 200);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(200, 200, 200);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(200, 200, 200);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Reset button */

#reset {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

#reset:focus {
  outline: none;
}

#reset:active {
  transform: translateY(3px);
  background-color: rgb(235, 235, 235);
}

#reset:hover {
  background-color: rgb(235, 235, 235);
}


/* Board */

#gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 450px;
  width: 450px;
  margin: 50px 0;
}

.square {
  text-align: center;
  font-size: 50px;
  /* the following need to be 1/3 of the total 
     in order to vertically center text */
  height: 150px;
  line-height: 150px;
}

.first-column {
  border-right: 1px solid black;
}

.second-column {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.third-column {
  border-left: 1px solid black;
}

.first-row {
  border-bottom: 1px solid black;
}

.second-row {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.third-row {
  border-top: 1px solid black;
}

/* Message */

#message {
  font-size: 25px;
}
